@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Manjari&display=swap');

*   {
    border: none;
    padding: 0;
    margin: 0;

}

body    {
    font-family: Manjari, sans-serif;
    font-weight: 300;
    color: #363636;
    background: #e6ddcd;
}

h1  {
    font-family: Orbitron, sans-serif;
}

p   {
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 150%;
    color: #777777;
}

hr  {
    height: 2px;
    width: 80%;
    background: #363636;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;

}

/* Title properties */

.title  {
    float: left;
    font-size: 300%;
    letter-spacing: 4px;
    color: #201f1f;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
}

.subtitle   {
    margin: auto;
    text-align: center;
}

/* Tab properties */

.tabs   {
    font-size: 200%;
    margin-left: 25px;
    margin-right: 25px;
}

.tabs li    {
    float: right;
    list-style-type: none;
    margin-right:  25px;
    margin-left: 25px;
    margin-top: 25px;
    color:#777777;
}

.tabs a {
    text-decoration: none;
    color:#777777;
}

.tabs a:hover {
    text-decoration: none;
    color:#363636;
    
}

/* Header image properties*/

.pic {
    height: 500px;
    width: 100%;
    background: url('../images/header.png') no-repeat center center;
    background-size: 100%;
    padding-top: 16%;
    object-fit: cover;
}

/* Home Panel properties */
.left-panel {
    margin-left: 5%;
    padding-top: 30px;
    width: 90%;
}

.right-panel    {
    margin-right: 5%;
    padding-top: 30px;
    width: 90%;
}

.index-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.schedule-panel, table  {
    margin: auto;
    text-align: center;
}

th   {
    padding-right: 10px;
}

footer  p {
    background-color: #363636;
    color: #aaaaaa;
    text-align: center;
    font-size: smaller;
    margin: 0 0 0 0;
}

/* About panel and Image properties */

.sauna-panel    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1%;
}

img {
    height: 50%;
    width: 95%;
    border-radius: 2%;
}


/* Contact Form properties */
.title-contact  {
    margin-bottom: 10px;
}

.form-field {
    margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.contact-field  {
	max-width: 850px;
	text-align: center;
    margin: auto;
}

.fname, .lname, .email, .textarea, .submit  {
	width: 50%;
    margin-left: auto;
    margin-right: auto;
	background-color: #ffffff;
	padding: 2%;
	margin-bottom: 22px;
}

.submit  {
    background-color: #363636;
    color: #ffffff;
}

textarea{
	min-height: 150px;
}

@media screen and (max-width: 700px) {

    .title  {
        text-align: center;
        display: block;
    }

    nav {
        font-size: 60%;
        text-align: center;
        display: block
    }

    .index-panel    {
        display: inline-block;
    }

    .right-panel    {
        margin-left: 5%;
    }

    .main-panel {
        text-align: center;
        display: block;
    }

    .sauna-panel {
        text-align: center;
        display: block;
    }

    .form-field {
        text-align: center;
        display: block;
    }


}