/* Imported Fonts */

@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Athiti&display=swap');

/* Overall properties */

*   {
    border: none;
    padding: 0;
    margin: 0;

}

body    {
    font-family: Athiti, sans-serif;
    font-weight: 300;
    color: #363636;
    background: #e6ddcd;
}
main { animation: fadeIn 0.3s; }

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
h1  {
    font-family: Megrim, sans-serif;
}


h2  {
    padding-top: 25px;
}

p   {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 150%;
    color: #777777;
}

hr  {
    height: 2px;
    width: 80%;
    background: #363636;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;

}

/* Title properties */

.title  {
    float: left;
    font-size: 60px;
    letter-spacing: 4px;
    color: #201f1f;
    margin-left: 5%;
    margin-right: 25px;
    margin-top: 10px;
}

header a    {
    text-decoration: none;
    color: #201f1f;
    font-size: 30px;
}

/* Tab properties */

.tabs    {
    margin-right: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    text-align: right;
    font-size: 25px;
    margin-left: 5%;
    padding-top: 20px;
    width: 90%;
}

.tabs a {
    text-decoration: none;
    color:#777777;
    display: flex;
}

.tabs a:hover {
    color:#363636;
    
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding-top: 10px;
}

/* Header image properties*/

.pic {
    height: 60px;
    width: 100%;
    background: url(../images/pic.webp) no-repeat center bottom;
    background-size: 100%;
    padding-top: 26vw;
    object-fit: cover;
}

/* Home Panel properties */

.subtitle   {
    margin: auto;
    text-align: center;
}

.left-panel {
    margin-left: 5%;
    padding-top: 30px;
    width: 90%;
}

.right-panel    {
    margin-right: 5%;
    padding-top: 30px;
    width: 90%;
}

.index-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
}

.schedule-panel, table  {
    margin: auto;
    text-align: center;
}

th, td   {
    margin: auto;
    padding: 10px;
    border: 0.5px solid #201f1f3f;
    border-radius: 5%;
}

div.container {
    min-height: calc(100vh - 70px);
}

footer a  {
    color:#777777;
    font-size:x-large;
    margin: 5px;
}

footer  {
    background-color: #363636;
    width: auto;
    color: #aaaaaa;
    text-align: center;
    font-size: smaller;
    margin: 0 0 0 0;
    }


/* About panel and Image properties */

.sauna-panel    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 50px 50px 50px;
    column-gap: 10px;
}

img {
    width: 100%;
    border-radius: 2%;
    
}

.imgsauna {
    height: 50%;
    width: 100%;
    border-radius: 2%;
    
}


/* Pool panel properties */

.pool-panel    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 50px 0px 50px;
    column-gap: 10px;
}

/* Contact Form properties */

.title-contact  {
    margin-bottom: 10px;
}

.form-field {
    margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
    padding-bottom: 50px;
}

.contact-field  {
	max-width: 850px;
	text-align: center;
    margin: auto;
}

#fname, #lname, #email, #textarea, #submit  {
	width: 50%;
    margin: auto;
	background-color: #ffffff;
	padding: 2%;
	margin-bottom: 22px;
}
.hiddenlabel {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

#submit  {
    background-color: #363636;
    color: #ffffff;
}

textarea    {
	min-height: 150px;
}

.redirect {
    margin: auto;
    text-align: center;
    padding-bottom: 150px;
}

audio   {
    display: flex;
    margin: auto;
}

/* Media Queries properties*/

@media screen and (max-width: 768px)    {

    .title  {
        text-align: center;
        display: block;
    }

    nav {
        font-size: 60%;
        text-align: center;
        display: block;
        margin: auto;
    }

    .tabs   {
        text-align: center;
        display: block;
        margin: auto;
    }


    .right-panel    {
        margin-left: 5%;
    }

    .main-panel, .sauna-panel, .form-field {
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 868px) {

    .sauna-panel {
        text-align: center;
        display: block;
    }

    .pool-panel {
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 480px) {

    header {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        align-items: center;
    }

    .tabs, .tabs a  {
        text-align: center;
        display: block;
        margin: auto;
        grid-gap: 20px;
    }

}