@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Manjari&display=swap');

*   {
    border: none;
    padding: 0;
    margin: 0;

}

body    {
    font-family: Manjari, sans-serif;
    font-weight: 300;
    color: #363636;
    background: #e6ddcd;
}

h1  {
    font-family: Orbitron, sans-serif;
}

p   {
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 150%;
    color: #777777;
}

hr  {
    height: 2px;
    width: 80%;
    background: #363636;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;

}

/* Title properties */

.title  {
    float: left;
    font-size: 300%;
    letter-spacing: 4px;
    color: #201f1f;
    margin-left: 25px;
    margin-right: 25px;
}

.title, .tabs   {
    line-height: 80px;
    margin-left: 25px;
    margin-right: 25px;
}

/* Tab properties */

.tabs   {
    font-size: 200%;
}

.tabs li    {
    float: right;
    list-style-type: none;
    margin-right:  25px;
    margin-left: 25px;
    color:#777777;
}

.tabs a {
    text-decoration: none;
    color:#777777;
}

.tabs a:hover {
    text-decoration: none;
    color:#363636;
    
}

/* Header image properties*/

.pic {
    height: 500px;
    width: 100%;
    background: url('../images/header.png') no-repeat center center;
    background-size: 100%;
    padding-top: 16%;
}

/* Home Panel properties */
.left-panel {
    margin-left: 5%;
    padding-top: 30px;
    width: 90%;
}

.right-panel    {
    margin-right: 5%;
    padding-top: 30px;
    width: 90%;
}

.index-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


footer  p {
    background-color: #363636;
    color: #aaaaaa;
    font-size: smaller;
    margin: 0 0 0 0;
}

/* About panel and Image properties */

.sauna-panel    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1%;
}

img {
    height: 50%;
    width: 95%;
}


/* Contact Form properties */

.contact-form {
    display: block;
    width: 35%;
    margin: 0 auto;
    text-align: left;
}

.contact {
    width: 35%;
    margin: 0 auto;
}

label   {
    display: block;
    padding-top: 0.5em;
}

input   {
    display: block;
    padding: .25em;
    border: solid 1px;
}

textarea   {

    display: block;
    padding: .25em;
    border: solid 1px;

}

form    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.window-form    {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    width: 33%;
    float: left;
}

.window-feedback    {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 30px;
    width: 33%;
    float: right;
}

.submit {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 100%;
    float: left;
}

@media screen and (max-width: 700px) {

    .title  {
        text-align: center;
        display: block;
    }

    nav {
        font-size: 60%;
        text-align: center;
        display: block
    }

    .index-panel    {
        display: inline-block;
    }

    .right-panel    {
        margin-left: 5%;
    }

    .main-panel {
        text-align: center;
        display: block;
    }

    .sauna-panel {
        text-align: center;
        display: block;
    }


}